.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* src/components/App.css */

table {
  width: 100%;
  border-collapse: collapse; /* Ensures that borders between cells are merged */
}

th, td {
  border: 1px solid #ddd; /* Adds a light grey border */
  padding: 8px; /* Adds some padding inside cells */
  text-align: center; /* Aligns text to the left */
}

th {
  background-color: #f4f4f4; /* Adds a background color to the headers */
}
